// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: #e8e7e3;
}

img {
    margin-top: 8px;
    height: 100px;
    width: 100px;
}

.btn {
    position: absolute;
    top: 140px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    // overflow: auto;
    z-index: 1;
}

.btn.click {
    left: 300px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

.btn.click span:before {
    content: '\f00d';
}

.sidebar {
    position: absolute;
    width: 250px;
    height: 60%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
    z-index: 1;
}

.sidebar.show {
    left: 0px;
}

.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul li a:hover {
    background: #1e1e1e;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul .serv-show.show1 {
    display: block;
}

nav ul .ser_2-show.show2 {
    display: block;
}

nav ul .ser_3-show.show3 {
    display: block;
}

.ser_2-show {
    display: none;
}

.ser_3-show {
    display: none;
}

nav ul ul li {
    line-height: 42px;
    border-top: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan!important;
    background: #1e1e1e!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.form-control {
    padding: 0.375rem 0.75rem !important;
}

// input[type=text],
// select {
//     // width: 100%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
// }
input[type=submit] {
    width: 100%;
    background-color: grey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.frm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

img.not {
    margin-top: 15px;
    margin-left: 1400px;
    height: 50px;
    width: 50px;
}

img.log_out {
    margin-top: -55px;
    margin-bottom: 1000px;
    margin-left: 1500px;
    height: 50px;
    width: 50px;
}

.msg-item:hover {
    box-shadow: 0 0 9px 1px #9a9a9a;
}

.profile_txt {
    background-color: #ced4da;
}